{name, "cucumberl"}.
{description, "pure erlang implementation of Cucumber parser & driver"}.
{homepage, "https://github.com/membase/cucumberl"}.
{url, {git, "https://github.com/membase/cucumberl.git", {branch, "master"}}}.
{authors, ["Steve Yen <steve.yen@gmail.com>"]}.
{license, "MIT", "COPYING"}.
{build_command, "make"}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
